version = "1"
php-version = "8.4.0"

[source]
workspace = "."
paths = [
  "web/modules/custom",
  "web/themes/custom"
]
includes = ["vendor"]
excludes = [
  "**/node_modules/**",
  "**/tests/**",
]
extensions = ["inc", "install", "module", "php", "profile", "theme"]

[source.glob]
literal-separator = true

[formatter]
preset = "drupal"

[linter]
integrations = ["symfony", "phpunit"]
