includes:
  - phpstan-drupal.neon

parameters:
    level: 10
    inferPrivatePropertyTypeFromConstructor: true
    paths:
      - web/modules/custom
      - web/profiles/custom
      - web/themes/custom
