includes:
  - phpstan-drupal.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
      - web/modules/custom
      - web/profiles/custom
      - web/themes/custom
    ignoreErrors:
      identifier:
        - missingType.iterableValue
        - missingType.generics
