includes:
  - phpstan-drupal.neon

parameters:
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    paths:
        - web/modules/custom
        - web/profiles/custom
        - web/themes/custom